<style type="text/css">
    .deptSetTree .a6:hover .btn-xs {
        display: inline !important;
    }

    .deptSetTree .a5:hover .btn-xs {
        display: inline !important;
    }
</style>
<div ng-controller="MenuList" class="cms-pageList" xmlns="http://www.w3.org/1999/html">
    <ol class="breadcrumb">
        <li> {{menuConfig.privilege.name}}</li>
        <li><a ng-href="{{menuConfig.privilege.sub[2].link}}">{{menuConfig.privilege.sub[2].name}}</a></li>
    </ol>
    <table border="1" style="width: 400px; height:400px; ">

        <tr>
            <!-- as a Dom element -->

            <button ng-click="operate1.open()">创建一级页面菜单</button>
            <td>
                <treecontrol
                        class="tree-classic deptSetTree"
                        tree-model="dataForTheTree1"
                        options="treeOptions"
                        on-selection="showSelected(node)"
                        selected-node="node1"
                        expanded-nodes="expandedNodes">
                    {{node.name}}&nbsp;&nbsp;&nbsp;
                    <button class=" btn-primary btn-xs hide" ng-if="node.layer!=2 && node.isDelete===0 " title="创建"
                            ng-click="operate2.create(node.id)">创建
                    </button>
                    <button class=" btn-success btn-xs hide" ng-if="node.isDelete===0" title="修改"
                            ng-click="operate3.edit(node.id,node.name,node.sort)">修改
                    </button>
                    <button class=" btn-danger btn-xs hide" ng-if="node.isDelete===0" title="不启用"
                            ng-click="operate4.delete(node.id,1)">不启用
                    </button>
                    <button class=" btn-success btn-xs hide" ng-if="node.isDelete===1" title="启用"
                            ng-click="operate4.delete(node.id,0)">启用
                    </button>
                </treecontrol>

            </td>


        </tr>

    </table>


    <div class="modal bs-example-modal-lg" id="addMJModal1" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document" style="width: 666px;height:500px;">

            <form name="menuSet1">
                <div class="modal-content text-center">
                    <div class="modal-header">
                        <H4 class="modal-title" id="moduleModalLabel">页面管理</H4>
                    </div>
                    <div class="modal-body">

                        <div class="row show-grid cms-workarea1">
                            <div class="col-sm-3 cms-workarea1" style="text-align: right">
                                <label class="control-label"><span style="color: red"> * </span>输入页面名称</label>
                            </div>
                            <div class="col-sm-5" style="text-align: left">
                                <input type="text" class="form-control input-sm"
                                       ng-model="menu.menuName" name="页面名称"
                                       placeholder="请输入页面名称" required>
                            </div>
                        </div>
                        <!--暂时不做-->
                        <!--<div class="row show-grid cms-workarea1">
                            <div class="col-sm-3 cms-workarea1" style="text-align: right">
                                <label class="control-label">页面排序</label>
                            </div>
                            <div class="col-sm-5" style="text-align: left">
                                <input type="text" class="form-control input-sm"
                                       ng-model="menu.sort"
                                       placeholder="请输入页面排序(可不填)">
                            </div>
                        </div>-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="operate1.save()">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="modal bs-example-modal-lg" id="addMJModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document" style="width: 666px;height:500px;">

            <form name="menuSet2">
                <div class="modal-content text-center">
                    <div class="modal-header">
                        <H4 class="modal-title" >页面管理</H4>
                    </div>
                    <div class="modal-body">

                        <div class="row show-grid cms-workarea1">
                            <div class="col-sm-3 cms-workarea1" style="text-align: right">
                                <label class="control-label"><span style="color: red"> * </span>输入页面名称</label>
                            </div>
                            <div class="col-sm-5" style="text-align: left">
                                <input type="text" class="form-control input-sm"  name="页面名称"
                                       ng-model="menu.menuName"
                                       placeholder="请输入页面名称" required>
                            </div>
                        </div>
                        <!--暂时不做-->
                       <!-- <div class="row show-grid cms-workarea1">
                            <div class="col-sm-3 cms-workarea1" style="text-align: right">
                                <label class="control-label">页面排序</label>
                            </div>
                            <div class="col-sm-5" style="text-align: left">
                                <input type="text" class="form-control input-sm"
                                       ng-model="menu.sort"
                                       placeholder="请输入页面排序(可不填)">
                            </div>
                        </div>-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="operate2.save()">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal bs-example-modal-lg" id="editMJModal3" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document" style="width: 666px;height:500px;">

            <form name="menuSet3">
                <div class="modal-content text-center">
                    <div class="modal-header">
                        <H4 class="modal-title" >页面管理</H4>
                    </div>
                    <div class="modal-body">

                        <div class="row show-grid cms-workarea1">
                            <div class="col-sm-3 cms-workarea1" style="text-align: right">
                                <label class="control-label"><span style="color: red"> * </span>输入页面名称</label>
                            </div>
                            <div class="col-sm-5" style="text-align: left">
                                <input type="text" class="form-control input-sm"   name="页面名称"
                                       ng-model="menu.menuName"
                                       placeholder="请输入页面名称" required>
                            </div>
                        </div>
                        <!--暂时不做-->
                        <!--<div class="row show-grid cms-workarea1">
                            <div class="col-sm-3 cms-workarea1" style="text-align: right">
                                <label class="control-label">页面排序</label>
                            </div>
                            <div class="col-sm-5" style="text-align: left">
                                <input type="text" class="form-control input-sm"
                                       ng-model="menu.sort"
                                       placeholder="请输入页面排序(可不填)">
                            </div>
                        </div>-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="operate3.save()">确认</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
