<div ng-controller="UserSetCtrl" class="cms-pageList" xmlns="http://www.w3.org/1999/html">
    <ol class="breadcrumb">
        <li> {{menuConfig.privilege.name}}</li>
        <li><a ng-href="{{menuConfig.privilege.sub[6].link}}">{{menuConfig.privilege.sub[6].name}}</a></li>
    </ol>

    <div class="bg-info clearfix cms-workarea">
        <form class="form-group-sm form-inline ">
            <div class="form-horizontal">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="control-label">部门</label>
                        <!--下拉部门列表树形结构-->
                        <select class=" form-control input-sm" ng-model="searchPage.departmentId1"
                                ng-options="type.id as type.name for type in dataForTheTree"></select>
                        <select class=" form-control input-sm" ng-model="searchPage.departmentId2"
                                ng-options="type.id as type.name for type in department2[searchPage.departmentId1]"></select>
                        <select class=" form-control input-sm" ng-model="searchPage.departmentId3"
                                ng-options="type.id as type.name for type in department3[searchPage.departmentId2]"></select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">用户姓名</label>
                    <input type="text" class=" form-control input-sm" id="name"
                           ng-model="searchPage.params.name" placeholder="请输入用户姓名"/>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">用户名</label>
                    <input type="text" class=" form-control input-sm" id="loginName"
                           ng-model="searchPage.params.loginName" placeholder="请输入用户名"/>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">是否有效</label>
                    <select class=" form-control input-sm" ng-model="searchPage.params.isDelete"
                            ng-options="type.value as type.key for type in isDelete"></select>
                </div>
            </div>
        </form>
        <div class="pull-right">

            <a title="创建" ng-href="index.html#/userSet/create" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-plus"></span>
                <span>创建</span>
            </a>
            <!--
                        <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align"
                                ng-click="createActivity.open()">
                            <span class="glyphicon glyphicon-export" aria-hidden="true">导出</span>
                        </button>-->

            <button title="搜索" ng-click="searchPage.search()" class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-search"></span>
                <span>搜索</span>
            </button>
        </div>
    </div>

    <div class="">
        <table class="table table-condensed table-bordered table-hover" style="text-align: center">
            <thead>
            <tr>
                <th style="width: 50px; text-align: center">序号</th>
                <th style="width: 50px; text-align: center">用户名</th>
                <th style="width: 50px; text-align: center">真实姓名</th>
                <th style="width: 50px; text-align: center">邮箱</th>
                <th style="width: 50px; text-align: center">部门(叶子部门)</th>
                <th style="width: 50px; text-align: center">角色</th>
                <th style="width: 50px; text-align: center">是否业务员</th>
                <th style="width: 50px; text-align: center">是否有效</th>
                <th style="width: 50px; text-align: center">是否外包</th>
                <th style="width: 50px; text-align: center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="page in renderObj.userInfoDTOList">
                <td style="vertical-align: middle">{{page.id}}</td>
                <td style="vertical-align: middle">{{page.loginName}}</td>
                <td style="vertical-align: middle">{{page.name}}</td>
                <td style="vertical-align: middle">{{page.email}}</td>
                <td style="vertical-align: middle">{{page.departmentName}}</td>
                <td style="vertical-align: middle">{{page.roleName}}</td>
                <td style="vertical-align: middle">{{page.isBusiness|isBusiness}}</td>
                <td style="vertical-align: middle">{{page.isDelete|isDelete}}</td>
                <td style="vertical-align: middle">{{page.isEpiboly|isEpiboly}}</td>
                <td style="vertical-align: middle">

                    <button title="修改" ng-click="editPage.open(page.id)" class="btn btn-primary btn-xs"
                            aria-label="Left Align">

                        <span>修改</span>
                    </button>
                    &nbsp;
                    <button title="重置密码" ng-click="addPage.open(page.loginName)"
                            class="btn btn-success btn-xs">
                        <span>重置密码</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <nav style="text-align: center;">
        <ul class="pager">
            <li><a href="javascript:void(0);" ng-click="searchPage.pre()">上一页</a></li>
            <li><a href="javascript:void(0);" ng-click="searchPage.next()">下一页</a></li>
            <a href="javascript:void(0);">&nbsp;&nbsp;&nbsp;&nbsp;第{{searchPage.pageNum}}页</a>
            <a href="javascript:void(0);">&nbsp;&nbsp;&nbsp;&nbsp;共{{searchPage.pageTotal}}页</a>
        </ul>
    </nav>

    <!--删除用户信息-->
    <div class="modal fade bs-example-modal-lg" id="delModal" tabindex="1" role="dialog">
        <div class="modal-dialog modal-lg" role="document" style="width: 700px;">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <label class="text-warning">确认重置当前用户密码吗？</label>
                </div>
                <div class="row show-grid cms-workarea1">
                    <div class="col-sm-6 cms-workarea1">
                        <label class="text-warning">重置后密码为：123456</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="addPage.resetPwd()">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal bs-example-modal-lg" id="editMJModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document" style="width: 1000px;height:666px;">
            <div class="modal-content text-center">
                <!-- 2、确认活动规则 -->
                <div id="confirmRule" class="clearfix cms-workarea">
                    <form class="form-horizontal" name="userEditForm">
                        <div class="row show-grid cms-workarea1">
                            <div class="col-sm-3 cms-workarea1" style="text-align: right">
                                <label class="control-label">用户账号</label>
                            </div>
                            <div class="col-sm-5" style="text-align: left">
                                <input type="text" class="form-control input-sm" ng-model="res.loginName"
                                       placeholder="请输入用户账号" size="40" name="用户账号"  ng-disabled  ="true">
                            </div>
                        </div>
                        <div class="row show-grid cms-workarea1">
                            <div class="col-sm-3 cms-workarea1" style="text-align: right">
                                <label class="control-label"><span style="color: red"> * </span>用户姓名</label>
                            </div>
                            <div class="col-sm-5" style="text-align: left">
                                <input type="text" class="form-control input-sm"
                                       ng-model="res.name"
                                       placeholder="请输入用户姓名" name="用户姓名" required>
                            </div>
                            <div class="col-sm-3 cms-workarea1">
                                <label style="color: red;">用户真实姓名</label>
                            </div>
                        </div>
                        <div class="row show-grid cms-workarea1">
                            <div class="col-sm-3 cms-workarea1" style="text-align: right">
                                <label class="control-label"><span style="color: red"> * </span>邮箱</label>
                            </div>
                            <div class="col-sm-5" style="text-align: left">
                                <input type="text" class="form-control input-sm"
                                       ng-model="res.email"
                                       placeholder="请输入邮箱" name="邮箱" required>
                            </div>
                            <div class="col-sm-3 cms-workarea1">
                                <label style="color: red;">公司邮箱</label>
                            </div>
                        </div>
                        <div class="row show-grid cms-workarea1">
                            <div class="col-sm-3 cms-workarea1" style="text-align: right">
                                <label class="control-label"><span style="color: red"> * </span>部门（叶子部门）</label>
                            </div>
                            <div class="col-sm-5"  style="text-align: left">
                                <!--<select class="form-control input-sm" ng-model="userParams.departmentId" ng-options="type.value as type.key for type in deptType" required name="部门" ></select>-->
                                <!--下拉部门列表树形结构-->
                                <select class=" form-control input-sm" ng-model="res.departmentId1"
                                        ng-options="type.id as type.name for type in dataForTheTree" ng-change="searchRoles(res.departmentId1)"></select>
                                <select class=" form-control input-sm" ng-model="res.departmentId2"
                                        ng-options="type.id as type.name for type in department2[res.departmentId1]" ng-change="searchRoles(res.departmentId2)"></select>
                                <select class=" form-control input-sm" ng-model="res.departmentId3"
                                        ng-options="type.id as type.name for type in department3[res.departmentId2]" ng-change="searchRoles(res.departmentId3)"></select>

                            </div>
                        </div>
                        <div class="row show-grid cms-workarea1">

                            <div class="col-sm-3 cms-workarea1"  style="text-align: right">
                                <label class="control-label"><span style="color: red"> * </span>角色</label>
                            </div>
                            <div class="col-sm-5"  style="text-align: left">
                                <select class=" form-control input-sm" ng-model="res.roleId"  name="角色"
                                        ng-options="type.id as type.name for type in roleList" required></select>

                            </div>
                        </div>

                        <div class="row show-grid cms-workarea1">
                            <div class="col-sm-3 cms-workarea1" style="text-align: right">
                                <label class="control-label"><span style="color: red"> * </span>是否业务员</label>
                            </div>
                            <div class="col-sm-5" style="text-align: left">
                                <select class=" form-control input-sm" ng-model="res.isBusiness"  name="是否业务员"
                                        ng-options="type.value as type.key for type in isBusiness" required></select>
                            </div>
                            <div class="col-sm-3 cms-workarea1">
                                <label style="color: red;">仅有根据销售业绩确定绩效才定义为业务员</label>
                            </div>
                        </div>
                        <div class="row show-grid cms-workarea1">
                            <div class="col-sm-3 cms-workarea1" style="text-align: right">
                                <label class="control-label"><span style="color: red"> * </span>是否有效</label>
                            </div>
                            <div class="col-sm-5" style="text-align: left">
                                <select class=" form-control input-sm" ng-model="res.isDelete" name="是否有效"
                                        ng-options="type.value as type.key for type in isDelete" required></select>
                            </div>
                            <div class="col-sm-3 cms-workarea1">
                                <label style="color: red;">无效则账户不能登录</label>
                            </div>
                        </div>

                        <div class="row show-grid cms-workarea1">
                            <div class="col-sm-3 cms-workarea1" style="text-align: right">
                                <label class="control-label"><span style="color: red"> * </span>是否外包</label>
                            </div>
                            <div class="col-sm-5" style="text-align: left">
                                <select class=" form-control input-sm" ng-model="res.isEpiboly" name="是否外包"
                                        ng-options="type.value as type.key for type in isEpiboly" required></select>
                            </div>
                        </div>


                    </form>

                    <div class=" clearfix cms-workarea1 form-inline text-center">

                        <button title="立即修改" ng-click="editPage.edit()" class="btn btn-primary"
                                ng-disabled="isCreateActivity">
                            <span>立即修改</span>
                        </button>

                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
