<style type="text/css">
    .deptSetTree .a6:hover .btn-xs {
        display: inline !important;
    }

    .deptSetTree .a5:hover .btn-xs {
        display: inline !important;
    }

</style>

<div ng-controller="RoleManagerCtrl" class="cms-pageList" xmlns="http://www.w3.org/1999/html">
    <ol class="breadcrumb">
        <li> {{menuConfig.privilege.name}}</li>
        <li><a ng-href="{{menuConfig.privilege.sub[5].link}}">{{menuConfig.privilege.sub[5].name}}</a></li>
    </ol>

    <div style="overflow-x: scroll;">
        <div style="clear:both;width: 2000px;">

            <div style=" width: 330px; float: left;height: 100%;">
                <label>角色管理</label>
                <table border="1" style="width: 310px; height:450px; ">
                    <tr>
                        <td>
                            <treecontrol
                                    class="tree-classic deptSetTree"
                                    tree-model="usersTheTree"
                                    options="treeOptions1"
                                    on-selection="selectedDept(node, selected)"
                                    expanded-nodes="expandedNodes">
                                {{node.name}}&nbsp;&nbsp;&nbsp; <!--{{node.second.length}}-->
                                <button class=" btn-primary btn-xs hide"
                                        ng-if="node.isDelete===0&&(node.second.length===0||!node.second)" title="创建"
                                        ng-click="operate.open(node.id)">创建
                                </button>
                                <!--<button class=" btn-success btn-xs hide"      ng-if="node.isDelete===0"   title="修改" ng-click="operate.edit()" >修改</button>-->
                                <!--<button  class=" btn-danger btn-xs hide"     ng-if="node.isDelete===0"  title="不启用" ng-click="operate.delete()">不启用</button>-->
                                <!--<button  class=" btn-success btn-xs hide"     ng-if="node.isDelete===1"  title="启用" ng-click="operate.delete()">启用</button>-->
                            </treecontrol>

                        </td>
                    </tr>
                </table>

            </div>
            <div style=" width: 250px; float: left;height: 100%;">
                <label>角色</label>
                <div style="width: 240px; height:430px; ">
                    <table border="1" class="table table-condensed table-bordered table-hover">

                        <thead>
                        <tr>
                            <th style="width: 50px; text-align: center">可用</th>
                            <th style="width: 50px; text-align: center">选中部门的角色</th>
                            <th style="width: 50px; text-align: center">状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="role in selectedRoleList">


                            <td style="vertical-align: middle"><input type="radio" value="{{role.id}}" name="roleRadio"
                                                                      ng-click="changeRole(role.id,role.name)"/></td>
                            <td style="vertical-align: middle">{{role.name}}&nbsp;</td>
                            <td style="vertical-align: middle">{{role.isDelete|isDelete}}</td>

                        </tr>
                        <button title="启用" ng-click="btns.del(0)">
                            <span>启用</span>
                        </button>
                        <button title="不启用" ng-click="btns.del(1)">
                            <span>不启用</span>
                        </button>
                        <button title="修改" ng-click="btns.open()">
                            <span>修改</span>
                        </button>
                        </tbody>
                    </table>
                </div>


            </div>
            <div style=" width: 190px; float: left;height: 100%;">
                <label>所有页面列表</label>
                <table border="1" style="width: 170px; height:450px; ">
                    <tr>
                        <td>
                            <treecontrol
                                    class="tree-classic deptSetTree"
                                    tree-model="pagesList"
                                    options="treeOptions"
                                    on-selection="showSelected(node, selected)"
                                    selected-node="selectedNodes"
                                    expanded-nodes="expandedNodes">
                                {{node.name}}
                            </treecontrol>
                        </td>
                    </tr>
                </table>
            </div>
            <div  style=" width: 55px;  float: left;height: 100%;">
                <table border="1" style="width: 50px; height:450px; ">
                    <br/> <br/><br/> <br/><br/> <br/><br/> <br/><br/><br/> <br/>
                    <button ng-click="btns.accredit()">&gt;&gt;</button>
                    <br/>
                    <br/>
                    <button ng-click="btns.delete()"> &lt;&lt;</button>
                </table>
            </div>
            <div id="right" style=" width: 250px; float: left;height: 100%;">
                <label>已分配权限页面</label>
                <div style="width: 240px; height:430px; ">
                    <table border="1" class="table table-condensed table-bordered table-hover">

                        <thead>
                        <tr>
                            <th style="width: 50px; text-align: center">可用</th>
                            <th style="width: 50px; text-align: center">选中的页面</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="page in pageSelected">


                            <td style="vertical-align: middle"><input type="radio" value="{{page.id}}" name="menuRadio"
                                                                      ng-click="changeMenu(page.id)"      /></td>
                            <td style="vertical-align: middle">{{page.name}}</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="last1" style=" width: 300px;float: left;height: 100%;">

                <label>按钮设置</label>
                <div style="width: 300px; height:430px; ">
                    <table border="1" class="table table-condensed table-bordered table-hover">

                        <thead>
                        <tr>
                            <th style="width: 50px; text-align: center">可用</th>
                            <th style="width: 50px; text-align: center">控件类型</th>
                            <th style="width: 50px; text-align: center">按钮名称</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="page in pageList">


                            <td style="vertical-align: middle"><input name="groupCheckbox" type="checkbox"  ng-model="page.selected"
                                                           class="clientList"></td>
                            <td style="vertical-align: middle">{{page.typeName}}</td>
                            <td style="vertical-align: middle">{{page.buttonName}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <button title="可用确认" ng-click="btns.save()">
                        <span>可用确认</span>
                    </button>
                    <button title="重置" ng-click="btns.reset()">
                        <span>重置</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal bs-example-modal-lg" id="editMJModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document" style="width: 666px;height:500px;">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <H4 class="modal-title" id="moduleModalLabel">角管理色</H4>
                </div>
                <div class="modal-body">

                    <div class="row show-grid cms-workarea1">
                        <div class="col-sm-3 cms-workarea1" style="text-align: right">
                            <label class="control-label">输入角色名称</label>
                        </div>
                        <div class="col-sm-5" style="text-align: left">
                            <input type="text" class="form-control input-sm" ng-model="params.departmentName" name="角色名称"
                                   placeholder="请输入角色名称">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="btns.edit()">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal bs-example-modal-lg" id="addMJModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document" style="width: 666px;height:500px;">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <H4 class="modal-title">角管理色</H4>
                </div>
                <div class="modal-body">

                    <div class="row show-grid cms-workarea1">
                        <div class="col-sm-3 cms-workarea1" style="text-align: right">
                            <label class="control-label">输入角色名称</label>
                        </div>
                        <div class="col-sm-5" style="text-align: left">
                            <input type="text" class="form-control input-sm" ng-model="params.departmentName" name="角色名称"
                                   placeholder="请输入角色名称">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="operate.save()">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

</div>
