<div ng-controller="GroupListCtrl" class="cms-pageList" xmlns="http://www.w3.org/1999/html">
    <ol class="breadcrumb">
        <li><a ng-href="">{{menuConfig.group.name}}</a></li>
        <li>{{menuConfig.group.sub[1].name}}</li>
    </ol>

    <div class="bg-info clearfix cms-workarea">
        <form class="form-group-sm form-inline ">
            <div class="form-horizontal">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">活动名称</label>
                        <input type="text" class=" form-control input-sm" id="name" ng-model="searchPage.params.name" placeholder="请输入名称"/>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <label class="control-label">活动时间</label>
                        <div class="input-group date" ulife-tooltip="开始时间" ulife-datepicker>
                            <input type="text" class="form-control input-sm" placeholder="开始时间" name="startTime" ng-model="searchPage.params.startTime" ulife-date-format required>
                            <span class="input-group-btn add-on">
                                <button class="btn btn-default btn-sm icon-th" type="button">
                                    <span class="glyphicon glyphicon-calendar" ></span>
                                </button>
                            </span>
                        </div>
                        <div class="input-group date" ulife-tooltip="结束时间" ulife-datepicker>
                            <input type="text" class="form-control input-sm" placeholder="结束时间" name="endTime" ng-model="searchPage.params.endTime" ulife-date-format required>
                            <span class="input-group-btn add-on">
                                <button class="btn btn-default btn-sm icon-th" type="button">
                                    <span class="glyphicon glyphicon-calendar" ></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="col-sm-3">
                    <div class="form-group">
                    <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;活动ID</label>
                    <input type="text" class=" form-control input-sm" id="activityId" ng-model="searchPage.params.activityId" placeholder="请输入ID"/>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                    <label class="control-label">活动状态</label>
                    <select class=" form-control input-sm" ng-model="searchPage.params.status" ng-options="type.value as type.key for type in groupStatus"></select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                    <label class="control-label">团类型</label>
                    <select class=" form-control input-sm" ng-model="searchPage.params.type" ng-default="" ng-options="type.value as type.key for type in groupType"></select>
                    </div>
                </div>
            </div>
        </form>
        <div class="pull-right">
            <button title="搜索" ng-click="searchPage.search()" ulife-btn-au class="btn btn-primary btn-sm" >
                <span class="glyphicon glyphicon-search" ></span>
                <span>搜索</span>
            </button>
            <a title="创建" ng-href="index.html#/group/create" ulife-btn-au class="btn btn-success btn-sm" >
                <span class="glyphicon glyphicon-plus" ></span>
                <span>创建</span>
            </a>
        </div>
    </div>

    <div class="">
        <table class="table table-condensed table-bordered table-hover" style="text-align: center">
            <thead>
            <tr>
                <th style="width: 50px; text-align: center">活动ID</th>
                <th style="width: 50px; text-align: center">itemId</th>
                <th style="width: 50px; text-align: center">团购类型</th>
                <th style="width: 50px; text-align: center">活动名称</th>
                <th style="width: 50px; text-align: center">每团人数</th>
                <th style="width: 50px; text-align: center">团购价格</th>
                <th style="width: 50px; text-align: center">活动时间</th>
                <th style="width: 50px; text-align: center">列表显示时间</th>
                <th style="width: 50px; text-align: center">限购量</th>
                <!--<th style="width: 50px; text-align: center">参团量</th>-->
                <th style="width: 50px; text-align: center">sort</th>
                <th style="width: 50px; text-align: center">活动状态</th>
                <th style="width: 50px; text-align: center">团长减免券</th>
                <th style="width: 50px; text-align: center">创建时间</th>
                <th style="width: 50px; text-align: center">操作</th>
                <!--<th style="width: 50px; text-align: center">分析</th>-->
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="page in renderObj.list">
                <td style="vertical-align: middle">{{page.id}}</td>
                <td style="vertical-align: middle">{{page.itemId}}</td>
                <td style="vertical-align: middle">{{page.type|groupType}}</td>
                <td style="vertical-align: middle">{{page.name}}</td>
                <td style="vertical-align: middle">{{page.perGroupLimit}}</td>
                <td style="vertical-align: middle">{{page.retailPrice}}</td>
                <td style="vertical-align: middle">{{page.startTime | date:'yyyy-MM-dd HH:mm:ss'}}<br />{{page.endTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td style="vertical-align: middle">{{page.viewStartTime | date:'yyyy-MM-dd HH:mm:ss'}}<br />{{page.viewEndTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td style="vertical-align: middle">{{page.stockLimit}}</td>
                <!--<td style="vertical-align: middle">{{page.memberLimit}}</td>-->
                <td style="vertical-align: middle">{{page.sort}}</td>
                <td style="vertical-align: middle">{{page.status|groupStatus}}</td>
                <td style="vertical-align: middle">{{page.couponCode}}</td>
                <td style="vertical-align: middle">{{page.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td style="vertical-align: middle">
                    <a ng-href="index.html#/group/edit/{{page.id}}" title="修改" ulife-btn-au class="btn btn-success btn-xs" aria-label="Left Align">
                        <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span>
                        <span>修改</span>
                    </a>

                    <button title="活跃度" ng-click="searchPage.open(page.id)" ulife-btn-au class="btn btn-success  btn-xs" >
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span>活跃度</span>
                    </button>

                    <a ng-if="page.deviceId == 2" ng-href="{{previewLinks.h5channel}}{{page.pageId}}" title="预览" ulife-btn-au class="btn btn-success btn-xs" target="_blank">

                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <nav style="text-align: center;">
        <ul class="pager">
            <li><a href="javascript:void(0);" ng-click="searchPage.pre()">上一页</a></li>
            <li><a href="javascript:void(0);" ng-click="searchPage.next()">下一页</a></li>
            <a href="javascript:void(0);">&nbsp;&nbsp;&nbsp;&nbsp;第{{searchPage.pageNum}}页</a>
            <a href="javascript:void(0);">&nbsp;&nbsp;&nbsp;&nbsp;共{{searchPage.pageTotal}}页</a>
        </ul>
    </nav>



    <!-- addPage Modal -->
    <div class="modal bs-example-modal-lg" id="addMJModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document" style="width: 666px;height:500px;">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <H4 class="modal-title" id="moduleModalLabel">参成团订单计算</H4>
                </div>
                <div class="modal-body">

                    <table class="table table-condensed table-bordered table-hover" style="text-align: center">
                        <thead>
                        <tr>
                            <!--<th style="width: 50px; text-align: center">参团订单数</th>-->
                            <th style="width: 50px; text-align: center">成团订单数</th>
                            <!--<th style="width: 50px; text-align: center">参团数</th>-->
                            <th style="width: 50px; text-align: center">成团数</th>
                            <th style="width: 50px; text-align: center">每团限制人数</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <!--<td style="vertical-align: middle">{{groupCount.offeredOrder}}</td>-->
                            <td style="vertical-align: middle">{{groupCount.clusteringOrder}}</td>
                            <!--<td style="vertical-align: middle">{{groupCount.offered}}</td>-->
                            <td style="vertical-align: middle">{{groupCount.clustering}}</td>
                            <td style="vertical-align: middle">{{groupCount.perGroupLimit}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
