<div ng-controller="emptyCodeListCtrl" class="cms-pageList" xmlns="http://www.w3.org/1999/html">
    <ol class="breadcrumb">
        <li><a>{{menuConfig.exchangeCoupon.name}}</a></li>
        <li class="active">{{menuConfig.exchangeCoupon.sub[10].name}}</li>
    </ol>
    <!--   搜索条件框    -->
    <div class="bg-info" style="padding:10px 0">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="form-inline">
                    <label class="control-label text-nowrap col-sm-1">券ID:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-sm ng-pristine ng-untouched ng-valid" ng-model="searchPage.params.codeId"
                        placeholder="券ID">
                </div>
                    <label class="control-label text-nowrap col-sm-2">库存变动时间段:</label>
                    <div class="input-group date col-sm-2" ulife-tooltip="开始时间" ulife-datetimepicker="" data-original-title="" title="">
                        <input type="text" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-valid-required" placeholder="开始时间" name="startTime"
                            ng-model="searchPage.params.startTime" ulife-date-format required="">
                        <span class="input-group-btn add-on">
                                <button class="btn btn-default btn-sm icon-th" type="button">
                                    <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                        </span>
                    </div>
                    <div class="input-group date col-sm-2" ulife-tooltip="结束时间" ulife-datetimepicker="" data-original-title="" title="">
                        <input type="text" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-valid-required" placeholder="结束时间" name="endTime"
                            ng-model="searchPage.params.endTime" ulife-date-format required="">
                        <span class="input-group-btn add-on">
                                <button class="btn btn-default btn-sm icon-th" type="button">
                                    <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="" style="padding-left:10px;">
                <button title="查询" ulife-btn-au type="button" class="btn btn-primary" ng-click="searchPage.search()">查询</button>
                <button title="导出" ulife-btn-au type="button" class="btn btn-primary" ng-click="searchPage.open()">导出</button>
            </div>
        </form>
    </div>
    <!--   数据展现   -->
    <div class="table-responsive">
        <table class="table table-condensed table-bordered table-hover" style="text-align: center">
            <thead>
                <tr>
                    <th style="min-width: 100px; text-align: center">券名称</th>
                    <th style="min-width: 100px; text-align: center">券ID</th>
                    <th style="min-width: 100px; text-align: center">券前缀</th>
                    <th style="min-width: 100px; text-align: center">预估成本(含税)</th>
                    <th style="min-width: 100px; text-align: center">预估成本(未税)</th>
                    <th style="min-width: 100px; text-align: center">期初库存</th>
                    <th style="min-width: 100px; text-align: center">入库数量</th>
                    <th style="min-width: 100px; text-align: center">销售出库数量</th>
                    <th style="min-width: 100px; text-align: center">客情出库数量</th>
                    <th style="min-width: 100px; text-align: center">样品出库数量</th>
                    <th style="min-width: 100px; text-align: center">销售退回数量</th>
                    <th style="min-width: 100px; text-align: center">客情退回数量</th>
                    <th style="min-width: 100px; text-align: center">样品退回数量</th>
                    <th style="min-width: 100px; text-align: center">期末结存数量</th>
                    <th style="min-width: 100px; text-align: center">销售出库金额(含税)</th>
                    <th style="min-width: 100px; text-align: center">客情出库金额(含税)</th>
                    <th style="min-width: 100px; text-align: center">样品出库金额(含税)</th>
                    <th style="min-width: 100px; text-align: center">销售退回金额(含税)</th>
                    <th style="min-width: 100px; text-align: center">客情退回金额(含税)</th>
                    <th style="min-width: 100px; text-align: center">样品退回金额(含税)</th>
                    <th style="min-width: 100px; text-align: center">期末结存数量金额(含税)</th>
                    <th style="min-width: 100px; text-align: center">销售出库金额(未税)</th>
                    <th style="min-width: 100px; text-align: center">客情出库金额(未税)</th>
                    <th style="min-width: 100px; text-align: center">样品出库金额(未税)</th>
                    <th style="min-width: 100px; text-align: center">销售退回金额(未税)</th>
                    <th style="min-width: 100px; text-align: center">客情退回金额(未税)</th>
                    <th style="min-width: 100px; text-align: center">样品退回金额(未税)</th>
                    <th style="min-width: 100px; text-align: center">期末结存数量金额(未税)</th>
                    <th style="min-width: 100px; text-align: center">税率</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="items in renderObj">
                    <td style="vertical-align: middle">{{items.name}}</td>
                    <td style="vertical-align: middle">{{items.id}}</td>
                    <td style="vertical-align: middle">{{items.code_prefix}}</td>
                    <td style="vertical-align: middle">{{items.tax_cost}}</td>
                    <td style="vertical-align: middle">{{items.untax_cost}}</td>
                    <td style="vertical-align: middle">{{items.origin_store }}</td>
                    <td style="vertical-align: middle">{{items.instore_count}}</td>
                    <td style="vertical-align: middle">{{items.sale_out_count}}</td>
                    <td style="vertical-align: middle">{{items.guest_out_count}}</td>
                    <td style="vertical-align: middle">{{items.sample_out_count}}</td>
                    <td style="vertical-align: middle">{{items.sale_restore_num}}</td>
                    <td style="vertical-align: middle">{{items.guest_restore_num}}</td>
                    <td style="vertical-align: middle">{{items.sample_restore_num}}</td>
                    <td style="vertical-align: middle">{{items.final_num}}</td>
                    <td style="vertical-align: middle">{{items.sale_out_cost}}</td>
                    <td style="vertical-align: middle">{{items.guest_out_cost}}</td>
                    <td style="vertical-align: middle">{{items.sample_out_cost}}</td>
                    <td style="vertical-align: middle">{{items.sale_restore_cost}}</td>
                    <td style="vertical-align: middle">{{items.guest_restore_cost}}</td>
                    <td style="vertical-align: middle">{{items.sample_restore_cost}}</td>
                    <td style="vertical-align: middle">{{items.final_num_cost}}</td>
                    <td style="vertical-align: middle">{{items.sale_out_cost_notax}}</td>
                    <td style="vertical-align: middle">{{items.guest_out_cost_notax}}</td>
                    <td style="vertical-align: middle">{{items.sample_out_cost_notax}}</td>
                    <td style="vertical-align: middle">{{items.sale_restore_cost_notax}}</td>
                    <td style="vertical-align: middle">{{items.guest_restore_cost_notax}}</td>
                    <td style="vertical-align: middle">{{items.sample_restore_cost_notax}}</td>
                    <td style="vertical-align: middle">{{items.final_num_cost_notax}}</td>
                    <td style="vertical-align: middle">{{items.tax_rate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--   分页     -->
    <nav style="text-align: center;">
        <ul class="pager">
            <li><a href="javascript:void(0);" ng-click="searchPage.pre()">上一页</a></li>
            <li><a href="javascript:void(0);" ng-click="searchPage.next()">下一页</a></li>
            <a href="javascript:void(0);">&nbsp;&nbsp;&nbsp;&nbsp;第{{searchPage.pageNum}}页</a>
            <a href="javascript:void(0);">&nbsp;&nbsp;&nbsp;&nbsp;共{{searchPage.pageTotal}}页</a>
        </ul>
    </nav>

    <!--   导出邮箱弹框   -->
    <div class="modal bs-example-modal-lg" id="downloadModal" tabindex="1" role="dialog">
        <div class="modal-dialog modal-lg" role="document" style="width: 700px;">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h3 class="modal-title">导出</h3>
                </div>
                <div class="modal-body">
                    <div class="row show-grid cms-workarea1">
                        <div class="col-lg-3 cms-workarea1" style="text-align: right">
                            <label class="control-label">邮箱</label>
                        </div>
                        <div class="col-lg-6" style="text-align: left">
                            <input type="text" class="form-control" ng-model="searchPage.params.userEmail" placeholder="请输入邮箱" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="searchPage.findReport()">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>