<div ng-controller="exchangeListCtrl" class="cms-pageList" xmlns="http://www.w3.org/1999/html">
    <ol class="breadcrumb">
        <li><a>{{menuConfig.exchangeCoupon.name}}</a></li>
        <li class="active">{{menuConfig.exchangeCoupon.sub[12].name}}</li>
    </ol>
    <!--   搜索条件框    -->
    <div class="bg-info" style="padding:10px 0">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label text-nowrap col-sm-1">券号:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-sm ng-pristine ng-untouched ng-valid" ng-model="searchPage.params.codeNumber" placeholder="券号">
                </div>
                <label class="control-label text-nowrap col-sm-1">订单号:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-sm ng-pristine ng-untouched ng-valid" ng-model="searchPage.params.saleNo"
                        placeholder="订单号">
                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <label class="control-label text-nowrap col-sm-1">兑换时间</label>
                    <div class="input-group date col-sm-2" ulife-tooltip="开始时间" ulife-datetimepicker="" data-original-title="" title="">
                        <input type="text" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-valid-required" placeholder="开始时间" name="startTime"
                            ng-model="searchPage.params.startTime" ulife-date-format required="">
                            <span class="input-group-btn add-on">
                                <button class="btn btn-default btn-sm icon-th" type="button">
                                    <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                            </span>
                    </div>
                    <div class="input-group date col-sm-2" ulife-tooltip="结束时间" ulife-datetimepicker="" data-original-title="" title="">
                        <input type="text" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-valid-required" placeholder="结束时间" name="endTime"
                            ng-model="searchPage.params.endTime" ulife-date-format required="">
                            <span class="input-group-btn add-on">
                                <button class="btn btn-default btn-sm icon-th" type="button">
                                    <span class="glyphicon glyphicon-calendar"></span>
                            </button>
                            </span>
                    </div>
                </div>
            </div>
            <div class="" style="padding-left:10px;">
                <button title="查询" ulife-btn-au type="button" class="btn btn-primary" ng-click="searchPage.search()">查询</button>
                <button title="导出" ulife-btn-au type="button" class="btn btn-primary" ng-click="searchPage.open()">导出</button>
            </div>
        </form>
    </div>
    <!--   数据展现   -->
    <div class="table-responsive">
        <table class="table table-condensed table-bordered table-hover" style="text-align: center">
            <thead>
                <tr>
                    <th style="width: 50px; text-align: center">券号</th>
                    <th style="width: 50px; text-align: center">券ID</th>
                    <th style="width: 50px; text-align: center">券名称</th>
                    <th style="width: 50px; text-align: center">面值</th>
                    <th style="width: 50px; text-align: center">成本</th>
                    <th style="width: 50px; text-align: center">领用部门</th>
                    <th style="width: 50px; text-align: center">出库时间(激活)</th>
                    <th style="width: 50px; text-align: center">兑换订单号</th>
                    <th style="width: 50px; text-align: center">券税率</th>
                    <th style="width: 50px; text-align: center">下单时间</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="items in renderObj">
                    <td style="vertical-align: middle">{{items.code_number}}</td>
                    <td style="vertical-align: middle">{{items.code_id}}</td>
                    <td style="vertical-align: middle">{{items.code_name}}</td>
                    <td style="vertical-align: middle">{{items.retail_price}}</td>
                    <td style="vertical-align: middle">{{items.cost_price}}</td>
                    <td style="vertical-align: middle">{{items.department_name}}</td>
                    <td style="vertical-align: middle">{{items.out_time | exchangeReportDataTime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td style="vertical-align: middle">{{items.sale_no}}</td>
                    <td style="vertical-align: middle">{{items.tax_rate}}</td>
                    <td style="vertical-align: middle">{{items.exchange_date | exchangeReportDataTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--   分页     -->
    <nav style="text-align: center;">
        <ul class="pager">
            <li><a href="javascript:void(0);" ng-click="searchPage.pre()">上一页</a></li>
            <li><a href="javascript:void(0);" ng-click="searchPage.next()">下一页</a></li>
            <a href="javascript:void(0);">&nbsp;&nbsp;&nbsp;&nbsp;第{{searchPage.pageNum}}页</a>
            <a href="javascript:void(0);">&nbsp;&nbsp;&nbsp;&nbsp;共{{searchPage.pageTotal}}页</a>
        </ul>
    </nav>
    <!--   导出邮箱弹框   -->
    <div class="modal bs-example-modal-lg" id="downloadModal" tabindex="1" role="dialog">
        <div class="modal-dialog modal-lg" role="document" style="width: 700px;">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h3 class="modal-title">导出</h3>
                </div>
                <div class="modal-body">
                    <div class="row show-grid cms-workarea1">
                        <div class="col-lg-3 cms-workarea1" style="text-align: right">
                            <label class="control-label">邮箱</label>
                        </div>
                        <div class="col-lg-6" style="text-align: left">
                            <input type="text" class="form-control" ng-model="searchPage.params.userEmail" placeholder="请输入邮箱" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="searchPage.findReport()">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>