<div ng-controller="giftVideoBookCtrls" class="cms-pageList" xmlns="http://www.w3.org/1999/html">
    <ol class="breadcrumb">
        <li><a>{{menuConfig.exchangeCoupon.name}}</a></li>
        <li class="active">{{menuConfig.exchangeCoupon.sub[6].name}}</li>
    </ol>
    <!--   搜索条件框    -->
    <div class="bg-info" style="padding:10px 0">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label text-nowrap col-sm-1">公司名称:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-sm ng-pristine ng-untouched ng-valid" ng-model="searchPage.params.companyName"
                        placeholder="请填写券名称">
                </div>
                <label class="control-label text-nowrap col-sm-1">券名称:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-sm ng-pristine ng-untouched ng-valid" ng-model="searchPage.params.ticketName"
                        placeholder="请填写券id">
                </div>
                <label class="control-label text-nowrap col-sm-1">券id:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-sm ng-pristine ng-untouched ng-valid" ng-model="searchPage.params.codeId"
                        placeholder="请填写券id">
                </div>
                <label class="control-label text-nowrap col-sm-1">有效状态:</label>
                <div class="col-sm-1">
                    <select class="form-control input-sm ng-pristine ng-untouched ng-valid" ng-model="searchPage.params.validTag" ng-options="type.value as type.key for type in validState"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                        <label class="control-label text-nowrap col-sm-1">创建时间</label>
                        <div class="input-group date col-sm-2" ulife-tooltip="开始时间" ulife-datetimepicker=""
                             data-original-title="" title="">
                            <input type="text"
                                   class="form-control input-sm ng-pristine ng-untouched ng-valid ng-valid-required"
                                   placeholder="开始时间" name="startTime" ng-model="searchPage.params.createTime"
                                   ulife-date-format required="">
                            <span class="input-group-btn add-on">
                                <button class="btn btn-default btn-sm icon-th" type="button">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </button>
                            </span>
                        </div>
                        <div class="input-group date col-sm-2" ulife-tooltip="结束时间" ulife-datetimepicker=""
                             data-original-title="" title="">
                            <input type="text"
                                   class="form-control input-sm ng-pristine ng-untouched ng-valid ng-valid-required"
                                   placeholder="结束时间" name="endTime" ng-model="searchPage.params.endTime" ulife-date-format
                                   required="">
                            <span class="input-group-btn add-on">
                                <button class="btn btn-default btn-sm icon-th" type="button">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </button>
                            </span>
                        </div>
                        </div>
                    </div>
            <div class="" style="padding-left:10px;">
                <button  title="查询" type="button" class="btn btn-primary" ulife-btn-au ng-click="getDataList()">查询</button>
                <a ulife-btn-au ng-href="index.html#/exchangeCoupon/giftVideoBookCreate/0" title="新建" class="btn btn-success">新建</a>
            </div>
        </form>
    </div>
    <!--   数据展现层   -->
    <div class="table-responsive">
        <table class="table table-condensed table-bordered table-hover" style="text-align: center">
            <thead>
                <tr><th style="width: 50px; text-align: center">ID</th>
                    <th style="width: 50px; text-align: center">公司名称</th>
                    <th style="width: 50px; text-align: center">公司编号</th>
                    <th style="width: 50px; text-align: center">券名称</th>
                    <th style="width: 50px; text-align: center">券ID</th>
                    <th style="width: 50px; text-align: center">状态</th>
                    <th style="width: 50px; text-align: center">创建时间</th>
                    <th style="width: 50px; text-align: center">上架时间</th>
                    <th style="width: 50px; text-align: center">下架时间</th>
                    <th style="width: 50px; text-align: center">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ticket in renderObj">
                    <td style="vertical-align: middle">{{ticket.id}}</td>
                    <td style="vertical-align: middle">{{ticket.company_name}}</td>
                    <td style="vertical-align: middle">{{ticket.company_id}}</td>
                    <td style="vertical-align: middle">{{ticket.name}}</td>
                    <td style="vertical-align: middle">{{ticket.ticket_id}}</td>
                    <td style="vertical-align: middle">{{ticket.valid_tag | isValidTag}}</td>
                    <td style="vertical-align: middle">{{ticket.create_time | exchangeDataTime |date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td style="vertical-align: middle">{{ticket.start_time  | exchangeDataTime |date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td style="vertical-align: middle">{{ticket.end_time | exchangeDataTime |date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td style="vertical-align: middle">
                        <span ulife-btn-au title="修改"  ng-click="isPass(ticket)"  class="btn btn-info btn-xs ng-scope" >修改</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <nav style="text-align: center;">
        <ul class="pager">
            <li><a href="javascript:void(0);" ng-click="searchPage.pre()">上一页</a></li>
            <li><a href="javascript:void(0);" ng-click="searchPage.next()">下一页</a></li>
            <a href="javascript:void(0);">&nbsp;&nbsp;&nbsp;&nbsp;第{{searchPage.pageNum}}页</a>
            <a href="javascript:void(0);">&nbsp;&nbsp;&nbsp;&nbsp;共{{searchPage.pageTotal}}页</a>
        </ul>
    </nav>
</div>