<div ng-controller="inStockListCtrl" class="cms-pageList" xmlns="http://www.w3.org/1999/html">
    <ol class="breadcrumb">
        <li><a>{{menuConfig.exchangeCoupon.name}}</a></li>
        <li class="active">{{menuConfig.exchangeCoupon.sub[3].name}}</li>
    </ol>

    <div class="bg-info clearfix cms-workarea">
        <form class="form">
            <div class="form-group">
                <div class="form-inline">
                    <div class="form-group">
                        <label class="control-label">入库单号</label>
                        <input type="text" class="form-control" id="stockNum" ng-model="searchPage.params.inStoreNo" placeholder="请输入入库单号"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">券号生成单号</label>
                        <input type="text" class="form-control" id="couponNum" ng-model="searchPage.params.codeNo" placeholder="请输入券号生成单号"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">券ID</label>
                        <input type="text" class="form-control" id="voucherName" ng-model="searchPage.params.codeId" placeholder="请输入卡券ID"/>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <div class="form-group">
                        <label class="control-label">券名称</label>
                        <input type="text" class="form-control" id="moblie" ng-model="searchPage.params.codeName" placeholder="请输入卡券名称"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">券前缀字母</label>
                        <input type="text" class="form-control" id="word" ng-model="searchPage.params.codePrefix" placeholder="请输入券前缀字母"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">状态</label>
                        <select class="form-control"  ng-model="searchPage.params.status" ng-options="type.value as type.key for type in optionStatus"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <div class="form-group">
                        <label class="control-label">创建时间</label>
                        <div class="input-group date" ulife-tooltip="开始时间" ulife-datetimepicker="" data-original-title="" title="">
                            <input type="text" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-valid-required" placeholder="开始时间" name="createStart" ng-model="searchPage.params.createStart" ulife-date-format  required="">
                            <span class="input-group-btn add-on">
                                <button class="btn btn-default btn-sm icon-th" type="button">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </button>
                            </span>
                        </div>
                        <div class="input-group date" ulife-tooltip="结束时间" ulife-datetimepicker="" data-original-title="" title="">
                            <input type="text" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-valid-required" placeholder="结束时间" name="createEnd" ng-model="searchPage.params.createEnd" ulife-date-format  required="">
                            <span class="input-group-btn add-on">
                                <button class="btn btn-default btn-sm icon-th" type="button">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">确认入库日期</label>
                        <div class="input-group date" ulife-tooltip="开始时间" ulife-datetimepicker="" data-original-title="" title="">
                            <input type="text" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-valid-required" placeholder="开始时间" name="confirmStart" ng-model="searchPage.params.confirmStart" ulife-date-format  required="">
                            <span class="input-group-btn add-on">
                                <button class="btn btn-default btn-sm icon-th" type="button">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </button>
                            </span>
                        </div>
                        <div class="input-group date" ulife-tooltip="结束时间" ulife-datetimepicker="" data-original-title="" title="">
                            <input type="text" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-valid-required" placeholder="结束时间" name="confirmEnd" ng-model="searchPage.params.confirmEnd" ulife-date-format  required="">
                            <span class="input-group-btn add-on">
                                <button class="btn btn-default btn-sm icon-th" type="button">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="pull-left">
            <div class="form-group">
                <button ulife-btn-au title="查询" type="button" class="btn btn-primary" ng-click="searchPage.search()">查询</button>
                <a ulife-btn-au ng-href="index.html#/exchangeCoupon/inStockList/create" title="新建" class="btn btn-success">新建</a>
            </div>
        </div>
    </div>

    <div class="">
        <table class="table table-condensed table-bordered table-hover" style="text-align: center">
            <thead>
            <tr>
                <th style="width: 50px; text-align: center">入库单号</th>
                <th style="width: 50px; text-align: center">券号生成单号</th>
                <th style="width: 50px; text-align: center">申请部门</th>
                <th style="width: 50px; text-align: center">申请人</th>
                <th style="width: 50px; text-align: center">券ID</th>
                <th style="width: 50px; text-align: center">券前缀字母</th>
                <th style="width: 50px; text-align: center">券名称</th>
                <th style="width: 50px; text-align: center">生成数量</th>
                <th style="width: 50px; text-align: center">本次入库数量</th>
                <th style="width: 50px; text-align: center">状态</th>
                <th style="width: 50px; text-align: center">创建时间</th>
                <th style="width: 50px; text-align: center">确认入库时间</th>
                <th style="width: 50px; text-align: center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="page in renderObj">
                <td style="vertical-align: middle">{{page.no}}</td>
                <td style="vertical-align: middle">{{page.codeNo}}</td>
                <td style="vertical-align: middle">{{page.departmentId | exchangedept}}</td>
                <td style="vertical-align: middle">{{page.demandMan}}</td>
                <td style="vertical-align: middle">{{page.ticketId}}</td>
                <td style="vertical-align: middle">{{page.codePrefix}}</td>
                <td style="vertical-align: middle">{{page.codeName}}</td>
                <td style="vertical-align: middle">{{page.createCount}}</td>
                <td style="vertical-align: middle">{{page.count}}</td>
                <td style="vertical-align: middle">{{page.status | inStoreStatus}}</td>
                <td style="vertical-align: middle">{{page.createTime | show | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td style="vertical-align: middle">{{page.confirmDate | show | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td style="vertical-align: middle">
                    <a title="修改" ulife-btn-st="{{page.status}}" ulife-btn-au href="index.html#/exchangeCoupon/inStockList/edit/{{page.id}}" class="btn  btn-warning btn-xs"
                       ng-disabled="page.isDelete==1">
                        <span>修改</span>
                    </a>
                    <button ulife-btn-st="{{page.status}}" title="提交"  ulife-btn-au  ng-click="btns.submit(page.id,2)"  class="btn btn-success btn-xs">
                        <span>提交</span>
                    </button>
                    <button ulife-btn-st="{{page.status}}" title="入库审核" ulife-btn-au ng-click="btns.submit(page.id,3)" class="btn btn-primary btn-xs"
                       ng-disabled="page.isDelete==1">
                        <span>入库审核</span>
                    </button>
                    <button ulife-btn-st="{{page.status}}" title="审核驳回" ulife-btn-au ng-click="btns.submit(page.id,1)" class="btn btn-primary btn-xs"
                            ng-disabled="page.isDelete==1">
                        <span>审核驳回</span>
                    </button>
                    <a ulife-btn-st="{{page.status}}" title="查看" ulife-btn-au href="index.html#/exchangeCoupon/inStockList/preview/{{page.id}}" class="btn  btn-info btn-xs"
                       ng-disabled="page.isDelete==1">
                        <span>查看</span>
                    </a>
                    <button ulife-btn-st="{{page.status}}" title="作废" ulife-btn-au ng-click="btns.submit(page.id,0)" class="btn btn-danger btn-xs"
                            ng-disabled="page.isDelete==1">
                        <span>作废</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <nav style="text-align: center;">
        <ul class="pager">
            <li><a href="javascript:void(0);" ng-click="searchPage.pre()">上一页</a></li>
            <li><a href="javascript:void(0);" ng-click="searchPage.next()">下一页</a></li>
            <a href="javascript:void(0);">&nbsp;&nbsp;&nbsp;&nbsp;第{{searchPage.pageNum}}页</a>
            <a href="javascript:void(0);">&nbsp;&nbsp;&nbsp;&nbsp;共{{searchPage.pageTotal}}页</a>
            <!--&nbsp;&nbsp;  跳转至：  <input type="number"  style="width:50px;height:25px"  ng-model="searchPage.params.goto" placeholder="GO" />-->
            <!--<button title="搜索" ng-click="searchPage.search1()" ulife-btn-au  >-->
            <!--<span>跳转</span>-->
        <!--</button>-->

        </ul>

    </nav>

    <div class="modal bs-example-modal-lg" id="downloadModal" tabindex="1" role="dialog">
        <div class="modal-dialog modal-lg" role="document" style="width: 700px;">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h3 class="modal-title">导出</h3>
                </div>
                <div class="modal-body">
                    <div class="row show-grid cms-workarea1">
                        <div class="col-lg-3 cms-workarea1" style="text-align: right">
                            <label class="control-label">邮箱</label>
                        </div>
                        <div class="col-lg-6"  style="text-align: left">
                            <input type="text" class="form-control" ng-model="searchPage.params.userEmail" placeholder="请输入邮箱" max="3000000" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="createActivity.save()">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade bs-example-modal-lg" id="delMJModal" tabindex="1" role="dialog">
        <div class="modal-dialog modal-lg" role="document" style="width: 400px;">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <label class="text-warning">是否删除此兑换单？</label>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="btns1.save()">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
